MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_ZABBIX_PASSWORD=change-zabbix-password
MYSQL_ORDERS_ROOT_PASSWORD=change-orders-root-password
MYSQL_ORDERS_PASSWORD=change-orders-password
GRAFANA_ADMIN_PASSWORD=change-grafana-password
